astroid==2.6.5
bandit==1.7.0
certifi==2021.5.30
charset-normalizer==2.0.3
colorama==0.4.4
cPython==0.0.6
cycler==0.10.0
Cython==0.29.24
dtaidistance @ git+https://github.com/wannesm/dtaidistance.git@774c68177f9e360a3ac9468688bba9637729b899
fastdtw==0.3.4
gitdb==4.0.7
GitPython==3.1.18
idna==3.2
imbalanced-learn==0.8.0
imblearn==0.0
isort==5.9.3
joblib==1.0.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
llvmlite==0.36.0
matplotlib==3.4.2
mccabe==0.6.1
mrmr @ git+https://github.com/smazzanti/mrmr@0fb5aae6aa5a5d9f9334b20079b0d38661f0cac9
numba==0.53.1
numpy==1.21.1
pandas==1.3.0
pbr==5.6.0
Pillow==8.3.1
pylint==2.9.6
pymongo==3.12.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
six==1.16.0
skrebate==0.62
smmap==4.0.0
stevedore==3.3.0
threadpoolctl==2.2.0
toml==0.10.2
tqdm==4.61.2
tslearn==0.5.1.0
urllib3==1.26.6
wrapt==1.12.1
